<%=form_with(model: @course) do |course| %>
  <div id="course_level_buttons">
    <label>
      <%= course.radio_button :level, "beginner"%> Beginner
    </label>
    <label>
      <%= course.radio_button :level, "intermediate"%> Intermediate
    </label>
    <label>
      <%= course.radio_button :level, "advanced"%> Advanced
    </label>
  </div>
  <div id="course_title_input">
    Topic: <%= course.text_field :title %>
  </div>
  <%=course.submit "Submit" %>
<% end %>